/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

 html, body {
     height: 100%;
     margin: 0;
     padding: 0;
     font-family: 'Playfair Display', serif;
 }

 main {
    margin-right: 10.3em;
 }



 #sideBar {
     position: fixed;
     width: 10em;
     top: 0;
     left: 0;
     bottom: 0;
     height: 100%;
     overflow-x: hidden;
     text-align: center;
     padding-top: 1em;
     background-color: rgb(203,255,255);
 }

 #sideBar-list {
    text-align: left;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 2em;
    font-size: 0.9rem;
 }

 #sideBar-list li {
     padding: 0;
     margin: 0;
     margin-left: 1.2em;
 }

 #sideBar-list li a {
    text-decoration: none;
    color: black;
}

 .container {
     max-width: 100%;
 }

 #main-container {
     margin-left: 10.2em;
     padding: 1em;
     
 }

 #site-title {
     font-size: 2rem;
     padding: 0;
     margin: 0;
 }

 #site-sub-heading {
     font-size: 0.9rem;
     letter-spacing: 0.01em;
     font-style: italic;
     margin-top: 1em;
 }

 #main-search {
     width: 100%;
 }

 #main-image {
     width: 100%;
     max-width: 300px;
     height: auto;
     border-radius: 5%;
     margin: 0 auto;   
     vertical-align: middle;
     float: left;
 }

 #main-headers {
     display: inline-block;
     margin: 0;
     padding: 0;
     margin-left: 0.5em;
 }

 #main-headers h5 {
     text-align: left;
     font-size: 1.4rem;
     padding: 0;
     margin-bottom: 0.2em;
 }

 #main-section {
     padding: 0.5em;
 }

 .site-info-paragraph {
     margin-top: 1em;
     margin: 0;
     padding-top: 0;
     font-size: 1rem;
     padding: 1em;
 }

 blockquote {
     text-align: center;
     font-size: 1.1rem;
     margin: 0;
     padding: 0;
     margin-bottom: 0.7em;
 }

 blockquote p {
     margin: 0;
     padding: 0;
 }

 blockquote footer {
     font-size: 0.9rem;
     font-style: italic;
     margin: 0;
     padding: 0;
 }

 #share-header {
     font-size: 2rem;
     padding: 0;
     margin: 0;
 }

 #share-list {
     list-style-type: none;
     margin: 0;
     padding: 0;
 }

 #share-list li {
     display: inline-block;
     margin: 0;
     padding: 0;
 }

#citation-header {
    margin: 0;
    padding: 0;
}

#share-section {
    text-align: center;
    margin-top: 1em;
}

#citation-section,
#security-section {
    margin-top: 1em;
    padding: 1em;
    padding-bottom: 0;
}

#security-section h4,
#citation-section h4 {
    font-size: 2rem;
    text-align: center;
}
#citation-section h5 {
    font-size: 1rem;
}

#citation-section ul {
    list-style-type: none;
}

#citation-section ul li {
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
}

#security-section p {
    margin-top: 0.5em;
    font-size: 1rem;
}

#footer-section ul {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0.5em;
}

#footer-section ul li {
    font-size: 1rem;
    display: inline-block;
    margin: 0.5em;
    padding: 0;
}













/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}


/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

.color-blue{
    color: blue;
}

.color-red {
    color: red;
}

.background-color-grey {
    background-color: rgba(235,235,235, 0.5);
}

.background-color-blue {
    background-color: rgb(203,255,255);
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (max-width: 1529px) {

    html {
        font-size: 16px;
    }
    #main-image {
        width: 230px;
    }

    #main-headers {

    }

    #main-headers h5 {
        font-size: 1rem;
    }
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (max-width: 1200px) {

    html {
        font-size: 16px;
    }
    #main-image {
        width: 200px;
        display: block;
        margin: 0 auto;
        

    }

    #main-headers {
        margin-top: 1em;
    }
    #main-headers h5 {
        font-size: 1rem;
    }

    #main-image {
        text-align: center;
        float: none;
        margin: 0 auto;
    }
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (max-width: 700px) {
    #sideBar-list {
        display: none;
    }

    #sideBar hgroup {
        width: 80%;
        float: left;
    }

    #sidebar-caret {
        float: right;
        margin-right: 1.5em;    
        padding: 0; 
        margin-top: -0.3em;
        font-size: 1.2rem;
        vertical-align: middle;
        color: rgba(0,0,0, 0.6);
        border: 1px solid rgba(255,255,255,0.8);
    }

    #site-sub-heading {
        display: none;
        visibility: hidden;
    }

    #sideBar {
        height: 0.8em;
        width: 100%;
        left: 0;
        right: 0;
        padding: 0.5em;
        z-index: 2; 
        border-bottom: 1px solid rgba(0,0,0,0.2);
    }

    #site-title {
        padding: 0;
        margin: 0;
        text-align: left;
        font-size: 1.2rem;
    }

    #main-container {
        margin: 0;
        padding: 0.5em;
        margin-top: 2em;
    }

    main {
        margin: 0;
    }

    #footer-container {
        padding: 0;
    }

    #main-image {
        margin: 0 auto;
        display: block;
        margin-bottom: 1em;
    }

    html {
        font-size: 14px;
    }

    .mobile-side-nav {
        display: block !important;
        position: fixed;
        top: 38;
        left: 0;
        right: 0;
        min-height: 100%;
        z-index: 3;
        background-color: #6a70c2;
        padding: 0.5em !important;
    }

    .mobile-side-nav a 
    {
        color: white !important;
        
    }
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
